/bin
*.a
*.obj
*.o
*.so
*.autosave
src/GitVersion.cpp
test_images/benchmark/initialized.txt
test_images/benchmark/*.bmp

CMakeFiles/
CMakeCache.txt
CMakeLists.txt.*
cmake_install.cmake

Makefile

*.cbp

release/
lib/pcm/pcm_Export.h
.DS_Store
.idea
FractalCompression.config
FractalCompression.creator
FractalCompression.files
FractalCompression.includes

*_release
__pycache__

test_framework/image_log/*
test_framework/transformation_log/*
benchmark_images
cached_bench.p
