/bin
*.a
*.obj
*.o
*.so
*.autosave
src/GitVersion.cpp


CMakeFiles/
CMakeCache.txt
CMakeLists.txt.*
cmake_install.cmake

Makefile

*.cbp

release/
lib/pcm/pcm_Export.h
.DS_Store
.idea
FractalCompression.config
FractalCompression.creator
FractalCompression.files
FractalCompression.includes
